*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    background:linear-gradient(
        135deg,
        #290b29,
        #c43ec4
    );
}

.container{
    border: 2px solid white;
    position: absolute;
    transform: translate(-50% -50%);
    padding:40px 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newtask{
    width: 500px;
    background-color: white;
    padding:30px 25px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 15px 30px #c43ec4;
    
}

#input{
    width: 76%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #7d8081;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
}

.btn{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    background-color: #7d0eb1;
    border: none;
    cursor: pointer;
}

#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 100%;
    margin-top:60px;
    box-shadow: 0 15px 30px #c43ec4;
    position: relative;

    
}
.task{
    background: linear-gradient(#cfcaca, #fffdfd), 
              linear-gradient(to right, rgb(175, 8, 111), purple);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat; /* this is important */
    border: 3px solid transparent;
    border-radius: 2px;
    padding: 7px;
    margin: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task span {
    flex-grow: 1;
    padding: 6px;
}
.icons {
    display: flex;
    gap: 10px;
}
.icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
